[submodule "vendor/vim-sensible"]
	path = vendor/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vendor/vim-rsi"]
	path = vendor/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vendor/vim-polyglot"]
	path = vendor/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
