.config/fish/completions
.config/fish/conf.d
.config/fish/extra.fish
.config/fish/fish_variables
.config/fish/functions/__*
.config/fish/functions/fisher.fish
.DS_Store
.husky/_
.local
.vim
node_modules
