[alias]
	# Simple aliases
	a = add -v
	c = commit -v
	f = fetch
	l = log
	p = pull

	ch = checkout
	cx = checkout HEAD --

	rc = rebase --continue
	rs = rebase --skip
	ra = rebase --abort

	cp = cherry-pick
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	contributors = shortlog -sn

	skip = update-index --assume-unchanged
	unskip = update-index --no-assume-unchanged

	# Quick commits
	boom = commit -am ':boom:'
	deps = commit -am 'Update dependencies'
	nail = commit -am ':nail_care:'

[pull]
	# Push to the current branch only
	rebase = true

[push]
	# Push to the current branch only
	default = simple

[rebase]
	# Push to the current branch only
	autoStash = true

[init]
	defaultBranch = trunk

[user]
	# Please change this if you’re not me
	name = Dominik Porada
	email = dominik@porada.co

[pager]
	# Take advantage of the better built-in diff
	log  = diff-highlight | less
	show = diff-highlight | less --chop-long-lines
	diff = diff-highlight | less --chop-long-lines
