.atom/*
!.atom/styles.less
.config/fish/completions
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/functions/__*
.config/fish/functions/fisher.fish
.local
.vim
etc/hosts/*
!etc/hosts/defaults.hst
extra.fish
