[submodule "vendor/zsh-syntax-highlighting"]
	path = vendor/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vendor/zsh-history-substring-search"]
	path = vendor/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "vendor/z"]
	path = vendor/z
	url = https://github.com/rupa/z.git
[submodule "vendor/vim-sensible"]
	path = vendor/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vendor/vim-rsi"]
	path = vendor/vim-rsi
	url = https://github.com/tpope/vim-rsi.git
[submodule "vendor/zsh-completions"]
	path = vendor/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
