[alias]
	# Simple aliases
	l = log
	a = add -v
	c = commit -v

	ch = checkout
	cx = checkout HEAD --
	rx = reset --hard

	rc = rebase --continue
	ra = rebase --abort

	tags = tag -l
	branches = branch -a
	remotes = remote -v
	stats = shortlog -sn

[push]
	# Push only to the current branch
	default = simple

[url "git@github.com:"]
	# Provide URL shorthand for GitHub
	insteadOf = gh:

[user]
	# Please change this if you’re not me
	name = Dominik Porada
	email = dominik@porada.co
