<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>co.porada.dotfiles.up-for-time-machine</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/dom/.dotfiles/bin/up-for-time-machine</string>
		</array>
		<key>StartInterval</key>
		<integer>60</integer>
		<key>RunAtLoad</key>
		<true />
		<key>StandardOutPath</key>
		<string>/Users/dom/.dotfiles/launch-agents/co.porada.dotfiles.up-for-time-machine.log</string>
		<key>StandardErrorPath</key>
		<string>/Users/dom/.dotfiles/launch-agents/co.porada.dotfiles.up-for-time-machine.err</string>
	</dict>
</plist>
