name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  sync:
    name: sync / macos@${{ matrix.macos-version }}
    runs-on: macos-${{ matrix.macos-version }}
    strategy:
      fail-fast: false
      matrix:
        macos-version:
          - 26
          - latest
    steps:
      - uses: actions/checkout@v6
      - run: sw_vers
      - run: bin/domfiles-sync
      - run: fish --command 'domfiles sync'
