name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  sync:
    name: sync / macos@26
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - run: bin/dotfiles sync
      - uses: porada/action-setup-vim-plug@main
      - uses: fish-actions/fisher@v1
      - run: fish --command 'bin/dotfiles sync'
