name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  sync:
    name: sync / macos@26
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v6
      - run: bin/dotfiles sync
